*.h5 filter=lfs diff=lfs merge=lfs -text
model filter=lfs diff=lfs merge=lfs -text
round_1.h5 filter=lfs diff=lfs merge=lfs -text
round_2.h5 filter=lfs diff=lfs merge=lfs -text
round_3.h5 filter=lfs diff=lfs merge=lfs -text
round_4.h5 filter=lfs diff=lfs merge=lfs -text
